<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="use_fake_hardware" default="false"/>

  <xacro:include filename="$(find robotiq_hande_description)/urdf/robotiq_hande.ros2_control.xacro"/>
  <xacro:include filename="$(find robotiq_hande_description)/urdf/gen_mesh.xacro"/>

  <xacro:macro name="robotiq_hande" params="
    name
    tf_prefix
    parent
    *origin
    sim_ignition:=false
    use_fake_hardware:=false
    fake_sensor_commands:=false
    com_port:=/dev/ttyUSB1">

    <material name="${tf_prefix}dark_gray">
      <color rgba="0.2 0.2 0.2 1"/>
    </material>

    <material name="${tf_prefix}black">
      <color rgba="0 0 0 1"/>
    </material>

    <!-- if ignition or gazebo - need to use absolute paths instead of relative, applies locally -->
    <xacro:property name="force_abs_paths" value="$(arg sim_ignition)" />

    <!-- ros2 control instance -->
    <xacro:robotiq_hande_ros2_control
        name="${name}"
        tf_prefix="${tf_prefix}"
        sim_ignition="${sim_ignition}"
        use_fake_hardware="${use_fake_hardware}"
        fake_sensor_commands="${fake_sensor_commands}"
        com_port="${com_port}"
        />

    <joint name="${tf_prefix}gripper_adapter_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${tf_prefix}robotiq_hande_cb_adapter"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <link name="${tf_prefix}robotiq_hande_cb_adapter">
      <!--TODO set proper inertia-->
      <inertial>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
        <mass value="0.0"/>
        <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      </inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <visual>
        <geometry>
          <xacro:gen_mesh
            force_abs_path="${force_abs_paths}"
            pkg_name="robotiq_hande_description"
            file_path="meshes/visual/robotiq_hande_cb_adapter.dae" />
        </geometry>
        <material name="${tf_prefix}black"/>
      </visual>
      <collision>
        <origin xyz="0 0 0.006" rpy="0 0 0" />
        <geometry>
          <cylinder length="0.018" radius="0.038"/>
        </geometry>
        <material name="${tf_prefix}black"/>
      </collision>
    </link>

    <joint name="${tf_prefix}gripper_base_joint" type="fixed">
      <parent link="${tf_prefix}robotiq_hande_cb_adapter"/>
      <child link="${tf_prefix}gripper_base_link"/>
      <origin xyz="0.0 0.0 0.011" rpy="0 0 0"/>
    </joint>

    <link name="${tf_prefix}gripper_base_link">
      <inertial>
        <origin xyz="0 0 0.04607" rpy="0 0 0" />
        <mass value="0.86387" />
        <inertia ixx="1017560E-9" ixy="0" ixz="2235E-9" iyy="1028041E-9" iyz="0" izz="489810E-9" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <xacro:gen_mesh
            force_abs_path="${force_abs_paths}"
            pkg_name="robotiq_hande_description"
            file_path="meshes/visual/hande.dae"
            scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${tf_prefix}black"/>
      </visual>
      <collision>
        <origin xyz="0 0 0.050" rpy="0 0 0" />
        <geometry>
          <cylinder length="0.10" radius="0.038"/>
        </geometry>
        <material name="${tf_prefix}black"/>
      </collision>
    </link>

    <joint name="${tf_prefix}gripper_palm_joint" type="fixed">
      <parent link="${tf_prefix}gripper_base_link"/>
      <child link="${tf_prefix}gripper_palm_link"/>
      <origin xyz="0.0 0.0 0.0988" rpy="0 0 0"/>
    </joint>

    <link name="${tf_prefix}gripper_palm_link">
      <visual>
        <geometry>
          <sphere radius="0.007"/>
        </geometry>
        <material name="${tf_prefix}_green">
          <color rgba="0 1.0 0 0.5"/>
        </material>
      </visual>
    </link>

  </xacro:macro>
</robot>
