<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="use_fake_hardware" default="false"/>

  <xacro:include filename="$(find robotiq_hande_description)/urdf/robotiq_hande.ros2_control.xacro"/>
  <xacro:include filename="$(find robotiq_hande_description)/urdf/gen_mesh.xacro"/>

  <xacro:macro name="robotiq_hande" params="
    name
    tf_prefix
    parent
    *origin
    sim_ignition:=false
    use_fake_hardware:=false
    fake_sensor_commands:=false
    com_port:=/dev/ttyUSB1
    generate_ros2_control_tag:=true">

    <material name="${tf_prefix}dark_gray">
      <color rgba="0.2 0.2 0.2 1"/>
    </material>

    <material name="${tf_prefix}black">
      <color rgba="0 0 0 1"/>
    </material>

    <!-- if ignition or gazebo - need to use absolute paths instead of relative, applies locally -->
    <xacro:property name="force_abs_paths" value="${sim_ignition}" />

    <!-- ros2 control instance -->
    <xacro:if value="${generate_ros2_control_tag}">
      <xacro:robotiq_hande_ros2_control
        name="${name}"
        tf_prefix="${tf_prefix}"
        sim_ignition="${sim_ignition}"
        use_fake_hardware="${use_fake_hardware}"
        fake_sensor_commands="${fake_sensor_commands}"
        com_port="${com_port}" />
    </xacro:if>

    <joint name="${tf_prefix}gripper_adapter_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${tf_prefix}robotiq_hande_cb_adapter"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <link name="${tf_prefix}robotiq_hande_cb_adapter">
      <!--Not sure if these are right, based on the robotiq numbers for ur_to_robotiq_link-->
      <!-- Mass is estimated. Combined mass of ur_realsense_mount and robotiq_hande_adapter is 269.5 g -->
      <inertial>
        <mass value="0.2174" />
        <origin xyz="-1.9561273e-04  1.6716577e-03  5.1888253e-03" />
        <inertia ixx="4.1495874e-05" ixy="-3.5226788e-08" ixz="6.5573497e-09" iyy="5.2040925e-05" iyz="4.7369283e-07" izz="9.0288619e-05" />
      </inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <visual>
        <geometry>
          <xacro:gen_mesh
            force_abs_path="${force_abs_paths}"
            pkg_name="robotiq_hande_description"
            file_path="meshes/visual/robotiq_hande_cb_adapter.dae" />
        </geometry>
        <material name="${tf_prefix}black"/>
      </visual>
      <collision>
        <origin xyz="0 0 0.006" rpy="0 0 0" />
        <geometry>
          <cylinder length="0.018" radius="0.038"/>
        </geometry>
        <material name="${tf_prefix}black"/>
      </collision>
    </link>

    <joint name="${tf_prefix}gripper_base_joint" type="fixed">
      <parent link="${tf_prefix}robotiq_hande_cb_adapter"/>
      <child link="${tf_prefix}gripper_base_link"/>
      <origin xyz="0.0 0.0 0.011" rpy="0 0 0"/>
    </joint>

    <link name="${tf_prefix}gripper_base_link">
      <!-- Updated mass including finger attachment points -->
      <inertial>
        <origin xyz="0 0 4.8470158e-02" rpy="0 0 0" />
        <mass value="0.901" />
        <inertia ixx="1.1281390e-03" ixy="0" ixz="0" iyy="1.1556521e-03" iyz="0" izz="5.3230056e-04" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <xacro:gen_mesh
            force_abs_path="${force_abs_paths}"
            pkg_name="robotiq_hande_description"
            file_path="meshes/visual/hande.dae"
            scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${tf_prefix}black"/>
      </visual>
      <collision>
        <origin xyz="0 0 0.050" rpy="0 0 0" />
        <geometry>
          <cylinder length="0.10" radius="0.038"/>
        </geometry>
        <material name="${tf_prefix}black"/>
      </collision>
    </link>

    <joint name="${tf_prefix}gripper_palm_joint" type="fixed">
      <parent link="${tf_prefix}gripper_base_link"/>
      <child link="${tf_prefix}gripper_palm_link"/>
      <origin xyz="0.0 0.0 0.0988" rpy="0 0 0"/>
    </joint>

    <link name="${tf_prefix}gripper_palm_link"/>

  </xacro:macro>
</robot>
